<a href="https://colab.research.google.com/github/MUTIS-Ethical-Investment-Fund/Octave-Platform/blob/main/cost_of_capital.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import requests
from bs4 import BeautifulSoup
!pip install yfinance

url = "https://mba.tuck.dartmouth.edu/pages/faculty/ken.french/data_library.html"
response = requests.get(url)
soup = BeautifulSoup(response.text, "html.parser")

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: yfinance in /usr/local/lib/python3.8/dist-packages (0.2.10)
Requirement already satisfied: numpy>=1.16.5 in /usr/local/lib/python3.8/dist-packages (from yfinance) (1.21.6)
Requirement already satisfied: pandas>=1.3.0 in /usr/local/lib/python3.8/dist-packages (from yfinance) (1.3.5)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.8/dist-packages (from yfinance) (0.0.11)
Requirement already satisfied: requests>=2.26 in /usr/local/lib/python3.8/dist-packages (from yfinance) (2.28.2)
Requirement already satisfied: cryptography>=3.3.2 in /usr/local/lib/python3.8/dist-packages (from yfinance) (39.0.1)
Requirement already satisfied: html5lib>=1.1 in /usr/local/lib/python3.8/dist-packages (from yfinance) (1.1)
Requirement already satisfied: lxml>=4.9.1 in /usr/local/lib/python3.8/dist-packages (from yfinance) (4.9.2)
Requirement already satisfied: appdirs>=1.4.4 in /usr/local/lib/python3.8/dist-packages (from yfinance) (1.4.4)
Requirement already satisfied: pytz>=2022.5 in /usr/local/lib/python3.8/dist-packages (from yfinance) (2022.7.1)
Requirement already satisfied: beautifulsoup4>=4.11.1 in /usr/local/lib/python3.8/dist-packages (from yfinance) (4.11.2)
Requirement already satisfied: frozendict>=2.3.4 in /usr/local/lib/python3.8/dist-packages (from yfinance) (2.3.4)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.8/dist-packages (from beautifulsoup4>=4.11.1->yfinance) (2.3.2.post1)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.8/dist-packages (from cryptography>=3.3.2->yfinance) (1.15.1)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.8/dist-packages (from html5lib>=1.1->yfinance) (1.15.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.8/dist-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (2022.12.7)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (2.1.1)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Requirement already satisfied: pycparser in /usr/local/lib/python3.8/dist-packages (from cffi>=1.12->cryptography>=3.3.2->yfinance) (2.21)

In [ ]:
import re
links = [link.get("href") for link in soup.find_all("a")]
factor_links = [link for link in links if link and "5_factors_csv" in link.lower()]
momentum_links = [link for link in links if link and "mom_factor_csv" in link.lower()]

for link in factor_links:
  print(link)

ftp/Developed_5_Factors_CSV.zip
ftp/Developed_ex_US_5_Factors_CSV.zip
ftp/Europe_5_Factors_CSV.zip
ftp/Japan_5_Factors_CSV.zip
ftp/Asia_Pacific_ex_Japan_5_Factors_CSV.zip
ftp/North_America_5_Factors_CSV.zip
ftp/Emerging_5_Factors_CSV.zip

In [ ]:
for link in momentum_links:
  print(link)

ftp/Developed_Mom_Factor_CSV.zip
ftp/Developed_ex_US_Mom_Factor_CSV.zip
ftp/Europe_Mom_Factor_CSV.zip
ftp/Japan_Mom_Factor_CSV.zip
ftp/Asia_Pacific_ex_Japan_MOM_Factor_CSV.zip
ftp/North_America_Mom_Factor_CSV.zip
ftp/Emerging_MOM_Factor_CSV.zip

In [ ]:
import pandas as pd
import io
import zipfile

def download_zip(url, file_path):
  # Use the requests library to download the file
  print(url + "/" + file_path)
  response = requests.get(url + "/" + file_path)

  # Check if the request was successful
  if response.status_code == 200:
    # Open the zip file from the memory buffer
    zipfile_in_memory = io.BytesIO(response.content)
    with zipfile.ZipFile(zipfile_in_memory, "r") as zip_ref:
      # Extract the first file from the zip archive
      csv_filename = zip_ref.namelist()[0]
      with zip_ref.open(csv_filename) as csv_file:
        # Load the contents of the CSV file into a pandas DataFrame 
        # skip description rows
        df = pd.read_csv(csv_file, skiprows=6)
  else:
    # If the request was not successful, raise an error
    raise Exception("Failed to download the file")
 
  return df

In [ ]:
def clean_data(df):
    
  # Delete the annual Factors
  index_to_drop = df[df.iloc[:, 0] == " Annual Factors: January-December"].index
  df = df.iloc[:index_to_drop[0]]

  # Format the Months Field
  df = df.rename(columns={'Unnamed: 0': 'Date'})
  df['Date'] = df['Date'].str.strip()
  df['Date'] = pd.to_datetime(df['Date'], format='%Y%m')

  # Take the last 60 months of data
  date_threshold = df['Date'].max() - pd.DateOffset(months=60)
  df = df[df['Date'] >= date_threshold]
  
  return df

In [ ]:
url = "https://mba.tuck.dartmouth.edu/pages/faculty/ken.french"
file_path = factor_links[5]
factors_df = download_zip(url, file_path)
factors_df = clean_data(factors_df)
factors_df

https://mba.tuck.dartmouth.edu/pages/faculty/ken.french/ftp/North_America_5_Factors_CSV.zip

          Date     Mkt-RF        SMB        HML        RMW        CMA    RF
330 2018-01-01    5.23      -2.88     -2.87        0.00     -1.08      0.11
331 2018-02-01   -3.95      -0.23     -2.74        0.86     -2.59      0.11
332 2018-03-01  -2.17       2.98        0.16      -0.46     -0.04      0.12
333 2018-04-01   0.35       0.46        1.36     -1.91       0.74      0.14
334 2018-05-01   2.51        2.86      -3.41      -1.37     -1.71      0.14
..         ...        ...        ...        ...        ...        ...   ...
386 2022-09-01   -9.30     -0.82        0.55      -1.57     -0.05      0.19
387 2022-10-01   7.96       1.44       7.66       1.10       6.64      0.23
388 2022-11-01    4.82     -1.21       0.85       3.54       2.54      0.29
389 2022-12-01  -6.30       0.31       1.77       0.14       3.92      0.33
390 2023-01-01   6.77        3.62      -3.52      -0.35     -4.20      0.35

[61 rows x 7 columns]

In [ ]:
file_path = momentum_links[5]
momentum_df = download_zip(url, file_path)
momentum_df = clean_data(momentum_df)
momentum_df

https://mba.tuck.dartmouth.edu/pages/faculty/ken.french/ftp/North_America_Mom_Factor_CSV.zip

          Date     WML
326 2018-01-01    3.92
327 2018-02-01    3.64
328 2018-03-01   -1.23
329 2018-04-01    0.51
330 2018-05-01    4.00
..         ...     ...
382 2022-09-01    3.48
383 2022-10-01    5.77
384 2022-11-01   -2.38
385 2022-12-01    4.02
386 2023-01-01  -12.72

[61 rows x 2 columns]

In [ ]:
merged_df = factors_df.merge(momentum_df, on='Date')
merged_df

,Date,Mkt-RF,SMB,HML,RMW,CMA,RF,WML
0,2018-01-01,5.23,-2.88,-2.87,0.00,-1.08,0.11,3.92
1,2018-02-01,-3.95,-0.23,-2.74,0.86,-2.59,0.11,3.64
2,2018-03-01,-2.17,2.98,0.16,-0.46,-0.04,0.12,-1.23
3,2018-04-01,0.35,0.46,1.36,-1.91,0.74,0.14,0.51
4,2018-05-01,2.51,2.86,-3.41,-1.37,-1.71,0.14,4.00
...,...,...,...,...,...,...,...,...
56,2022-09-01,-9.30,-0.82,0.55,-1.57,-0.05,0.19,3.48
57,2022-10-01,7.96,1.44,7.66,1.10,6.64,0.23,5.77
58,2022-11-01,4.82,-1.21,0.85,3.54,2.54,0.29,-2.38
59,2022-12-01,-6.30,0.31,1.77,0.14,3.92,0.33,4.02
60,2023-01-01,6.77,3.62,-3.52,-0.35,-4.20,0.35,-12.72

In [ ]:
# Convert the datatype to float
df_columns = merged_df.columns.tolist()
df_columns.remove('Date')
merged_df[df_columns] = merged_df[df_columns].astype(float)
# Normalize the values to percentages
merged_df.loc[:, merged_df.columns != 'Date'] /= 100
merged_df

         Date  Mkt-RF     SMB     HML     RMW     CMA      RF     WML
0  2018-01-01  0.0523 -0.0288 -0.0287  0.0000 -0.0108  0.0011  0.0392
1  2018-02-01 -0.0395 -0.0023 -0.0274  0.0086 -0.0259  0.0011  0.0364
2  2018-03-01 -0.0217  0.0298  0.0016 -0.0046 -0.0004  0.0012 -0.0123
3  2018-04-01  0.0035  0.0046  0.0136 -0.0191  0.0074  0.0014  0.0051
4  2018-05-01  0.0251  0.0286 -0.0341 -0.0137 -0.0171  0.0014  0.0400
..        ...     ...     ...     ...     ...     ...     ...     ...
56 2022-09-01 -0.0930 -0.0082  0.0055 -0.0157 -0.0005  0.0019  0.0348
57 2022-10-01  0.0796  0.0144  0.0766  0.0110  0.0664  0.0023  0.0577
58 2022-11-01  0.0482 -0.0121  0.0085  0.0354  0.0254  0.0029 -0.0238
59 2022-12-01 -0.0630  0.0031  0.0177  0.0014  0.0392  0.0033  0.0402
60 2023-01-01  0.0677  0.0362 -0.0352 -0.0035 -0.0420  0.0035 -0.1272

[61 rows x 8 columns]

In [ ]:
merged_df['Date'].max().strftime('%Y-%m-%d')

'2023-01-01'

In [ ]:
import yfinance as yf

ticker = "AAPL"  # Example ticker

df = yf.download(ticker, start=merged_df['Date'].min() - pd.DateOffset(months=1), end=merged_df['Date'].max(), interval="1mo")

# The resulting dataframe 'df' will contain the monthly historical prices for the given ticker.
df

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2017-12-01,42.487499,44.299999,41.615002,42.307499,40.230198,2124735200
2018-01-01,42.540001,45.025002,41.174999,41.857498,39.802288,2638717600
2018-02-01,41.792500,45.154999,37.560001,44.529999,42.343563,3711577200
2018-03-01,44.634998,45.875000,41.235001,41.945000,40.048107,2854910800
2018-04-01,41.660000,44.735001,40.157501,41.314999,39.446602,2664617200
...,...,...,...,...,...,...
2022-08-01,161.009995,176.149994,157.139999,157.220001,156.741898,1510239600
2022-09-01,156.639999,164.259995,138.000000,138.199997,137.971115,2084722800
2022-10-01,138.210007,157.500000,134.369995,153.339996,153.086044,1868139700
2022-11-01,155.080002,155.449997,134.380005,148.029999,147.784851,1724847700
2022-12-01,148.210007,150.919998,125.870003,129.929993,129.929993,1675657600

In [ ]:
df['RI'] = df['Adj Close'].pct_change()
df = df.reset_index()

merged_df = merged_df.merge(df, on='Date')

df_columns = ['Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume']
merged_df.drop(df_columns, axis=1, inplace=True)

merged_df['RI-RF'] = merged_df['RI'] - merged_df['RF']

merged_df

,Date,Mkt-RF,SMB,HML,RMW,CMA,RF,WML,RI,RI-RF
0,2018-01-01,0.0523,-0.0288,-0.0287,0.0000,-0.0108,0.0011,0.0392,-0.010637,-0.011737
1,2018-02-01,-0.0395,-0.0023,-0.0274,0.0086,-0.0259,0.0011,0.0364,0.063847,0.062747
2,2018-03-01,-0.0217,0.0298,0.0016,-0.0046,-0.0004,0.0012,-0.0123,-0.054210,-0.055410
3,2018-04-01,0.0035,0.0046,0.0136,-0.0191,0.0074,0.0014,0.0051,-0.015020,-0.016420
4,2018-05-01,0.0251,0.0286,-0.0341,-0.0137,-0.0171,0.0014,0.0400,0.130763,0.129363
5,2018-06-01,0.0039,0.0018,-0.0104,0.0118,0.0088,0.0014,-0.0130,-0.005598,-0.006998
6,2018-07-01,0.0311,-0.0211,0.0079,0.0112,0.0055,0.0016,-0.0130,0.027983,0.026383
7,2018-08-01,0.0309,0.0056,-0.0577,0.0056,-0.0346,0.0016,0.0504,0.196227,0.194627
8,2018-09-01,0.0006,-0.0224,-0.0110,0.0038,0.0059,0.0015,-0.0009,-0.004825,-0.006325
9,2018-10-01,-0.0781,-0.0380,0.0367,0.0024,0.0282,0.0019,-0.0233,-0.030477,-0.032377
10,2018-11-01,0.0162,-0.0149,0.0028,-0.0021,0.0103,0.0018,-0.0187,-0.184045,-0.185845
11,2018-12-01,-0.0952,-0.0219,-0.0081,-0.0020,-0.0051,0.0019,0.0124,-0.113616,-0.115516
12,2019-01-01,0.0859,0.0287,-0.0115,-0.0086,-0.0157,0.0021,-0.0518,0.055154,0.053054
13,2019-02-01,0.0339,0.0198,-0.0323,-0.0004,-0.0127,0.0018,0.0074,0.040314,0.038514
14,2019-03-01,0.0095,-0.0339,-0.0377,0.0134,-0.0139,0.0019,0.0207,0.101731,0.099831
15,2019-04-01,0.0390,-0.0096,0.0081,0.0115,-0.0119,0.0021,-0.0209,0.056436,0.054336
16,2019-05-01,-0.0682,-0.0108,-0.0118,-0.0026,0.0086,0.0021,0.0689,-0.127572,-0.129672
17,2019-06-01,0.0699,0.0052,-0.0118,0.0046,-0.0085,0.0018,-0.0189,0.134873,0.133073
18,2019-07-01,0.0107,-0.0101,-0.0069,0.0027,0.0000,0.0019,0.0151,0.076394,0.074494
19,2019-08-01,-0.0248,-0.0336,-0.0241,0.0140,-0.0059,0.0016,0.0567,-0.020184,-0.021784
20,2019-09-01,0.0152,0.0028,0.0613,0.0143,0.0314,0.0018,-0.0653,0.077038,0.075238
21,2019-10-01,0.0183,0.0001,-0.0147,0.0106,-0.0098,0.0015,-0.0085,0.110684,0.109184
22,2019-11-01,0.0380,0.0021,-0.0279,-0.0167,-0.0141,0.0012,-0.0124,0.074329,0.073129
23,2019-12-01,0.0279,0.0082,0.0143,-0.0021,0.0157,0.0014,-0.0114,0.102083,0.100683
24,2020-01-01,-0.0034,-0.0374,-0.0608,-0.0004,-0.0284,0.0013,0.0556,0.054010,0.052710
25,2020-02-01,-0.0823,-0.0069,-0.0250,-0.0083,-0.0242,0.0012,0.0173,-0.116797,-0.117997
26,2020-03-01,-0.1409,-0.0981,-0.1040,0.0012,-0.0175,0.0012,0.0694,-0.067554,-0.068754
27,2020-04-01,0.1333,0.0382,-0.0254,0.0203,-0.0039,0.0000,-0.0061,0.155374,0.155374
28,2020-05-01,0.0545,0.0222,-0.0540,0.0089,-0.0279,0.0001,0.0174,0.082165,0.082065
29,2020-06-01,0.0243,0.0154,-0.0358,0.0139,-0.0047,0.0001,0.0240,0.150492,0.150392
30,2020-07-01,0.0571,-0.0263,-0.0221,0.0056,0.0032,0.0001,0.0491,0.165132,0.165032
31,2020-08-01,0.0744,-0.0131,-0.0461,0.0336,-0.0138,0.0001,0.0184,0.214380,0.214280
32,2020-09-01,-0.0366,0.0029,-0.0207,0.0011,-0.0104,0.0001,0.0112,-0.100908,-0.101008
33,2020-10-01,-0.0211,0.0491,0.0243,-0.0210,-0.0089,0.0001,-0.0286,-0.060012,-0.060112
34,2020-11-01,0.1253,0.0564,0.0310,-0.0248,0.0136,0.0001,-0.0708,0.093606,0.093506
35,2020-12-01,0.0460,0.0416,-0.0204,-0.0174,0.0060,0.0001,-0.0047,0.116497,0.116397
36,2021-01-01,-0.0030,0.0478,0.0145,-0.0262,0.0200,0.0000,0.0468,-0.005501,-0.005501
37,2021-02-01,0.0319,0.0397,0.0864,-0.0091,0.0020,0.0000,-0.0782,-0.081085,-0.081085
38,2021-03-01,0.0352,-0.0184,0.0809,0.0426,0.0470,0.0000,-0.0697,0.008845,0.008845
39,2021-04-01,0.0513,-0.0222,-0.0081,0.0180,-0.0209,0.0000,0.0141,0.076218,0.076218
40,2021-05-01,0.0069,0.0021,0.0622,0.0010,0.0348,0.0000,0.0115,-0.052107,-0.052107
41,2021-06-01,0.0231,-0.0157,-0.0785,-0.0017,-0.0300,0.0000,0.0146,0.100976,0.100976
42,2021-07-01,0.0123,-0.0453,-0.0137,0.0517,0.0111,0.0000,-0.0253,0.064982,0.064982
43,2021-08-01,0.0281,-0.0144,-0.0051,0.0000,-0.0177,0.0000,0.0233,0.040930,0.040930
44,2021-09-01,-0.0428,0.0144,0.0387,-0.0255,0.0210,0.0000,0.0119,-0.066640,-0.066640
45,2021-10-01,0.0667,-0.0293,-0.0137,0.0117,-0.0192,0.0000,0.0486,0.058657,0.058657
46,2021-11-01,-0.0182,-0.0272,-0.0028,0.0622,0.0097,0.0000,0.0161,0.103471,0.103471
47,2021-12-01,0.0349,-0.0124,0.0527,0.0361,0.0660,0.0001,-0.0213,0.075796,0.075696
48,2022-01-01,-0.0574,-0.0330,0.1214,-0.0098,0.0968,0.0000,-0.0196,-0.015712,-0.015712
49,2022-02-01,-0.0222,0.0287,0.0326,-0.0294,0.0259,0.0000,0.0140,-0.055270,-0.055270
50,2022-03-01,0.0328,-0.0181,-0.0104,-0.0037,0.0280,0.0000,0.0288,0.058821,0.058821
51,2022-04-01,-0.0909,0.0022,0.0657,0.0232,0.0820,0.0000,0.0313,-0.097131,-0.097131
52,2022-05-01,-0.0012,0.0002,0.0828,-0.0027,0.0521,0.0003,0.0179,-0.055883,-0.056183
53,2022-06-01,-0.0846,0.0100,-0.0512,0.0285,-0.0349,0.0006,0.0090,-0.080080,-0.080680
54,2022-07-01,0.0924,0.0076,-0.0555,0.0292,-0.0647,0.0008,-0.0418,0.188634,0.187834
55,2022-08-01,-0.0377,0.0097,0.0158,-0.0261,0.0135,0.0019,0.0288,-0.032552,-0.034452
56,2022-09-01,-0.0930,-0.0082,0.0055,-0.0157,-0.0005,0.0019,0.0348,-0.119756,-0.121656
57,2022-10-01,0.0796,0.0144,0.0766,0.0110,0.0664,0.0023,0.0577,0.109551,0.107251
58,2022-11-01,0.0482,-0.0121,0.0085,0.0354,0.0254,0.0029,-0.0238,-0.034629,-0.037529
59,2022-12-01,-0.0630,0.0031,0.0177,0.0014,0.0392,0.0033,0.0402,-0.120817,-0.124117

In [ ]:
merged_df.columns

Index(['Date', 'Mkt-RF', 'SMB', 'HML', 'RMW', 'CMA', 'RF', 'WML', 'RI',
       'RI-RF'],
      dtype='object')

In [ ]:
import statsmodels.api as sm

y = merged_df['RI-RF']
X = merged_df[['Mkt-RF', 'SMB', 'HML', 'RMW', 'CMA']]

X = sm.add_constant(X)

model = sm.OLS(y, X).fit()

print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  RI-RF   R-squared:                       0.621
Model:                            OLS   Adj. R-squared:                  0.586
Method:                 Least Squares   F-statistic:                     17.70
Date:                Fri, 10 Feb 2023   Prob (F-statistic):           2.38e-10
Time:                        02:08:18   Log-Likelihood:                 86.654
No. Observations:                  60   AIC:                            -161.3
Df Residuals:                      54   BIC:                            -148.7
Df Model:                           5
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          0.0078      0.008      0.932      0.356      -0.009       0.025
Mkt-RF         1.1593      0.164      7.070      0.000       0.831       1.488
SMB            0.0095      0.384      0.025      0.980      -0.760       0.779
HML           -0.9210      0.365     -2.525      0.015      -1.652      -0.190
RMW            0.7693      0.486      1.583      0.119      -0.205       1.744
CMA            0.5827      0.525      1.109      0.272      -0.470       1.636
==============================================================================
Omnibus:                       12.361   Durbin-Watson:                   2.164
Prob(Omnibus):                  0.002   Jarque-Bera (JB):               16.436
Skew:                          -0.766   Prob(JB):                     0.000270
Kurtosis:                       5.056   Cond. No.                         81.4
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

/usr/local/lib/python3.8/dist-packages/statsmodels/tsa/tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

In [ ]:
import statsmodels.api as sm

# Add a constant column to the independent variables
X = sm.add_constant(merged_df[['Mkt-RF', 'SMB', 'HML']])

# Fit the linear regression model
model = sm.OLS(merged_df['RI-RF'], X).fit()

# Get the regression coefficients
Alpha = model.params[0]
Beta_Mkt = model.params[1]
Beta_SMB = model.params[2]
Beta_HML = model.params[3]
Rf = merged_df['RF'].mean()

# Print the results
print("Alpha: ", Alpha)
print("Beta Mkt: ", Beta_Mkt)
print("Beta SMB: ", Beta_SMB)
print("Beta HML: ", Beta_HML)
print("Rf (Monthly): ", Rf)

Alpha:  0.012479782196476658
Beta Mkt:  1.2336152253352588
Beta SMB:  -0.40332070860869873
Beta HML:  -0.5588715491135652
Rf (Monthly):  0.0009616666666666667

/usr/local/lib/python3.8/dist-packages/statsmodels/tsa/tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)